{% extends 'base.html' %} {% block meta %} {% endblock meta %}
<title>Membuat Task</title>
{% block content%}
<head>
  <style>
    body {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #0d6efd;
    }

    .create-task {
      max-width: 500px;
      height: min-content;
      padding: 20px;
      border-radius: 12px;
      background: white;
    }
  </style>
</head>

<div class="create-task">
  <h1 class="text-center mb-4">Tambah Task Baru</h1>

  <form method="POST">
    {% csrf_token %}
    <div class="form-floating mb-4">
      <input
        type="text"
        name="title"
        placeholder="Judul"
        class="form-control form-control-lg"
        id="floatingInput"
      />
      <label for="floatingInput">{{ form.title.label }}</label>
    </div>

    <div class="form-floating mb-4">
      <input
        type="text"
        name="description"
        placeholder="Deskripsi"
        class="form-control form-control-lg"
        id="floatingInput"
      />
      <label for="floatingInput">{{form.description.label}}</label>
    </div>
    <div>
      <input
        class="btn btn-outline-dark"
        type="submit"
        name="submit"
        value="Tambah Task"
      />
      <a
        class="btn btn-secondary"
        role="button"
        href="{% url 'todolist:show_todolist' %}"
        >Kembali
      </a>
    </div>
  </form>
</div>

{% endblock content %}
