{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Login</title>
<link rel="stylesheet" href="{% static '/style.css' %}" />
{% endblock meta %}

{% block content %}
<main>
  <div class="main-content">
    <h1 class="text-center">Login</h1>

    <form method="POST" action="">
      {% csrf_token %}
      <div class="form-floating mb-3">
        <input
          type="text"
          name="username"
          placeholder="Username"
          class="form-control"
          id="floatingInput"
        />
        <label for="floatingInput">Username</label>
      </div>

      <div class="form-floating mb-3">
        <input
          type="password"
          name="password"
          placeholder="Password"
          class="form-control"
          id="floatingPassword"
        />
        <label for="floatingPassword">Password</label>
      </div>

      <div class="mb-3">
        <input
          class="btn btn-form btn-outline-dark login_btn"
          role="button"
          type="submit"
          value="Login"
        />
      </div>
    </form>

    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    <span class="text-center text-muted mt-3 mb-0"> Belum mempunyai akun? </span
    ><a class="fw-bold text-body" href="{% url 'todolist:register' %}"
      >Buat Akun</a
    >
  </div>
</main>
{% endblock content %}
