{% extends 'base.html' %}

{% block title %}MyTodolist{% endblock title %}

{% block content %}
    <h1>Tugas 4 PBP</h1>

    <h3>Username: {{username}}</h3>
    <table>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Created At</th>
          <th>Status</th>
        </tr>
        {% for task in todolist %}
            <tr>
            <th>{{task.title}}</th>
            <th>{{task.description}}</th>
            <th>{{task.date}}</th>
            <th>
                {% if task.is_finished %} Selesai {% else %} Belum Selesai {% endif %}
            </th>
            </tr>
        {% endfor %}
      </table>

      <button>
        <a href="./create-task">Tambah Task Baru</a>
      </button>
      
      <button><a href="{% url 'todolist:logout' %}">Logout</a></button>
    
{% endblock content %}