{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Todolist</title>
<link rel="stylesheet" href="{% static '/style.css' %}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% endblock meta %}

{% block content %}
<div class="main-todolist">

  <nav class="navbar navbar-expand-dark bg-dark mb-4">
    <div class="container-fluid">
    <a class="navbar-brand text-light" href="#">User: {{username}}</a>
    
    <a 
    class="btn btn-outline-light" 
    role="button" 
    href="{% url 'todolist:logout' %}">
    Logout
    </a>
  </nav>

  <div class="d-flex justify-content-center">
    <button 
      type="button"
      class="btn btn-primary" 
      data-bs-toggle="modal" 
      data-bs-target="#exampleModal">
      Add Task
    </button>
  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Membuat Task</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="POST" id="form-create-task">
          <div class="modal-body">
            {% csrf_token %}
            <table>
              {{ form.as_table }}
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            <button id="submit_btn" type="submit" class="btn btn-primary" data-bs-dismiss="modal">Add</button>
          </div>
      </form>
      </div>
    </div>
  </div>
    
  </div>

  <div id="todolist" class="row mx-6"></div>

</div>

<script>
    $(document).ready(function() {
      function addTask(data) {
        let isFinished = data.fields.is_finished ? "Selesai" : "Belum Selesai"
        let id = data.pk

        let task = `
          <div id="${id}-card" class="card" style="width: 18rem">
            <div class="card-body">
              <h5 class="card-title">${data.fields.title}</h5>
              <h6 id="${id}-card-subtitle" class="card-subtitle mb-2 text-muted">Status: ${isFinished}</h6>
              <h6 class="card-subtitle mb-2 text-muted">${data.fields.date}</h6>
              <p class="card-text">${data.fields.description}</p>
            </div>
            <div class="mb-2 d-flex justify-content-around">
              <a class="disabled" card-link>
                <button id="${id}-update-task" class="btn btn-primary">Update Status</button>
              </a>
              <a class="disabled" card-link>
                <button id="${id}-delete-task" type="submit" class="btn btn-danger">Hapus</button>
              </a>  
            </div>
            <div class="row no-gutters card-footer text-muted">
              <p class="card-subtitle text-muted">${data.fields.date}</p>
            </div>
          </div>
        `
        $("#todolist").append(task);
      }

      $.get(window.location.href + "json/", (data) => {
        for (i = 0; i < data.length; i++) {
          addTask(data[i]);
          updateTask(data[i]);
          deleteTask(data[i]);
        }
      });

      $("#form-create-task").submit((e) => {
        e.preventDefault();
        $.post(window.location.href + "add/", {
          title: $("#id_title").val(),
          description: $("#id_description").val()
        }).done((data) => {
          if (data.status === "created") {
            addTask(data);
            updateTask(data);
            deleteTask(data);
          }
        });
        $("#id_title").val('')
        $("#id_description").val('')
      });

      const updateTask = (data) => {
        const id = data.pk;
        $(`#${id}-update-task`).click(() => {
          $.post(window.location.href + `update/${id}/`, {
          }).done(response => {
            if (response.status === "updated"){
              const isFinsihed = response.is_finished ? "Selesai" : "Belum Selesai";
              console.log("tessss");
              $(`#${id}-card-subtitle`).text("Status: " + isFinsihed);
            }
          })
        })
      }
      
      const deleteTask = (data) => {
        const id = data.pk;
        $(`#${id}-delete-task`).click(() => {
          $.post(window.location.href + `delete/${id}/`, {
          }).done(response => {
            if (response.status === "deleted"){
              $(`#${id}-card`).remove();
            }
          })
        })
      }

    });

</script>
{% endblock content %}