{% extends 'base.html' %}

<title>MyTodolist</title>

{% block content %}
    <h1>Tugas 4 PBP</h1>

    <h3>Username: {{username}}</h3>
    <table>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Created At</th>
          <th>Status</th>
        </tr>
        {% for task in todolist %}
            <tr>
                <th>{{task.title}}</th>
                <th>{{task.description}}</th>
                <th>{{task.date}}</th>
                <th>
                    {% if task.is_finished %} Selesai {% else %} Belum Selesai {% endif %}
                </th>
                <th>
                    <form method="POST">
                      <button>
                        <a href="{% url 'todolist:update-task' task.id %}"
                          >Update Selesai
                        </a>
                      </button>
                    </form>
                </th>
                <th>
                    <button>
                      <a href="{% url 'todolist:delete-task' task.id %}">Hapus</a>
                    </button>
                </th>
            </tr>
        {% endfor %}
      </table>

      <button>
        <a href="./create-task">Tambah Task Baru</a>
      </button>
      
      <button><a href="{% url 'todolist:logout' %}">Logout</a></button>
    
{% endblock content %}